.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: rgb(30, 29, 29);
}

body {
  background-color: rgb(122, 118, 118);
}


.second {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
}

.container {
  background-color: rgb(104, 200, 255);
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  width: 150px;
}